/* ///////////////////////////////////////// General //////////////// */

body {
  padding: 0%;
  margin: 0%;
}

/* //////////////////////////////////////// headingcontainer //////////////////// */

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  height: 40px;
  background-color: skyblue;
}

/* //////////////////////////////////// top left btns ///////////////////////// */

.left {
  display: flex;
  justify-content: space-around;
  width: 300px;
  height: 25px;
  padding: 5px;
  text-align: center;
  border: none;
  border-radius: 50px;
  background-color: aliceblue;
}


.btn{
  width: 35px;
  height: 25px;
  margin-bottom: 50px;
  border: none;
  border-radius: 10px;
  box-shadow: 10px 1px 10px;
}

.all {
  background-color: gray;
  color: white;
}

.red {
  
  background-color: red;
  
}

.yellow {
 
  background-color: yellow;
  
  
}

.blue {
  
  background-color: blue;
  
 
}

.black {
 
  background-color: black;
  
}

.icon1 {
  background-color: gray;
  text-align: center;
  color: white;
  
}
/* /////////////////////////////////// top right btn/////////////////////// */

.right1 {
  width: 80px;
  height: 30px;
  color: white;
  background-color: chocolate;
  border: none;
  border-radius: 10px;
  margin-top: 5px;
}
/* //////////////////////////////////////////// .rightconatiner /////////////////////// */

.rightcontainer {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  clear: both;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 250px;
  border: none;
}

.hidden {
  visibility: hidden;
}
.textarea {
  width: 70%;
  height: 250px;
  border: none;
  color: white;
  border: none;
  box-shadow: 5px 10px 5px;
}

.textarea1 {
 
  width: 100%;
  height: 98%;
  font-size: 20px;
  color: white;
  outline: none;
  background-color: purple;
  resize: none;
  cursor: pointer;
}

.aside {
  position: relative;
  width: 30%;
  height: 246px;
  box-shadow: 5px 10px 5px;
  background-color: rgb(24, 209, 39);
}

.complete {
  position: absolute;
  bottom: 10px;
  left: 30%;
}

.red1 {
  background-color: red;
}

.yellow1 {
  background-color: yellow;
}
.blue1 {
  background-color: blue;
}

.black1 {
  background-color: black;
}

.btn1 {
  width: 60px;
  height: 35px;
  margin: 20px;
  border: none;
  border-radius: 10px;
  box-shadow: 5px 5px 5px;
}

.btn1:hover {
  border: 2px solid white;
}

.btn:hover {
  border: 2px solid skyblue;
}

/* //////////////////////////////// redcontainer //////////////////// */

.datacontainer,.datacontainery,.datacontainerb,.datacontainerk {
  margin: 100px;
  width: 400px;
  height: 300px;
  background-color: purple;
}

.top{
  
  height: 30px;
  border: none;
}

.redheading {
  height: 20px;
 width: 400px;
  background-color: red;
}

.yellowheading {
  height: 20px;
 width: 400px;
  background-color: yellow;
}

.blueheading {
  height: 20px;
 width: 400px;
  background-color:blue;
}

.blackheading {
  height: 20px;
 width: 400px;
  background-color: black;
}




.input {
  position: relative;
 width: 393px;
 color: white;
 font-size: 20px;
  background-color: purple;
}

.datacontainer1 button{
  position: relative;
  top: 55%;
  margin: 20px;
  width: 40px;
  height: 40px;
  font-weight: bold;
  border: none;
}


/* .buttons button{
  margin: 7px;
  width: 60px;
  height: 40px;
  font-size: 20px;
  font-weight: bold;
  color: black;
}


 */
